name: run tests

on:
  pull_request:
    branches: [ "*" ]

jobs:
  testGo:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Golang caches
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-golang-

    - name: Setup Golang
      uses: actions/setup-go@v3
      with:
        go-version: '1.20'

    - name: run go tests
      run: |
        go test -v ./...
      env:
        RUN_INTEGRATION_TESTS: true
